<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="container-fluid">
<th:block th:include="~{fragments/navbar-guest}"></th:block>
<main>
    <div class="container mt-4" >
        <h1>Register Form</h1><br/>
        <!--/*@thymesVar id="userRegisterBindingModel" type="residentevil.domain.models.binding.UserRegisterBindingModel"*/-->
        <form th:action="@{/users/register}" th:method="post" th:object="${userRegisterBindingModel}">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter valid email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
<div/>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/propre.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>

