<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="container-fluid">
<th:block th:include="~{fragments/navbar-admin}"></th:block>
<main>
    <div class="container mt-4" >
        <th:block th:include="~{fragments/users}"></th:block>
    </div>
</main>
<div/>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/propre.js}"></script>
<script th:src="@{/js/user-edit-permission.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>

